<!DOCTYPE html>
<html lang="en">
{{template "header" .}}
<body>
  {{template "navbar" .}}
  {{template "sidebar" .}}
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Client Payments</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Payments</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">
            <div class="col-lg-12">
    
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Payments</h5>

                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#basicModal">
                    Create Payments Reminder
                  </button>
                  <div class="modal fade" id="basicModal" tabindex="-1">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Create Payment Reminder</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                          <div class="card">
                            <div class="card-body">
                              <h5 class="card-title">General Form Elements</h5>
                
                              <!-- General Form Elements -->
                              <form id="paymentCreateForm">
                                <div class="row mb-3">
                                  <label for="inputDate" class="col-sm-6 col-form-label">Invoice Date</label>
                                  <div class="col-sm-6">
                                    <input type="date" class="form-control" id="inputInvoiceDate">
                                  </div>
                                </div>
                                <div class="row mb-3">
                                  <label for="inputDate" class="col-sm-6 col-form-label">Sent Date</label>
                                  <div class="col-sm-6">
                                    <input type="date" class="form-control" id="inputSentDate">
                                  </div>
                                </div>
                                <div class="row mb-3">
                                  <label for="inputText" class="col-sm-6 col-form-label">Invoice Number</label>
                                  <div class="col-sm-6">
                                    <input type="text" class="form-control" id="inputInvoiceNumber">
                                  </div>
                                </div>
                                <div class="row mb-3">
                                  <label for="inputText" class="col-sm-6 col-form-label">Invoice Amount</label>
                                  <div class="col-sm-6">
                                    <input type="text" class="form-control" id="inputInvoiceAmount">
                                  </div>
                                </div>
                                <div class="row mb-3">
                                  <label for="inputText" class="col-sm-6 col-form-label">Invoice For</label>
                                  <div class="col-sm-6">
                                    <input type="text" class="form-control" id="inputInvoiceFor">
                                  </div>
                                </div>  
                                <div class="row mb-3">
                                  <label for="inputText" class="col-sm-6 col-form-label">Invoice Link</label>
                                  <div class="col-sm-6">
                                    <input type="text" class="form-control" id="inputInvoiceLink">
                                  </div>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                  <button type="submit" class="btn btn-primary" id="saveChangesBtn">Save changes</button>
                                </div>
                              </form><!-- End General Form Elements -->
                
                            </div>
                          </div>

                        
                        </div>
                        
                      </div>
                    </div>
                  </div><!-- End Basic Modal-->




                  <!-- Default Table -->
                  <table class="table" id="paymentsTable">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Date</th>
                        <th scope="col">Number</th>
                        <th scope="col">For</th>
                        <th scope="col">Paid</th>
                        <th scope="col">Link</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- Payment data will be inserted here -->
                    </tbody>
                  </table>
                  <!-- End Default Table Example -->
                </div>
              </div>
    
    </section>

  </main><!-- End #main -->

<script>
    function formatDate(dateString) {
        const options = { year: 'numeric', month: 'long', day: 'numeric'};
        return new Date(dateString).toLocaleDateString(undefined, options);
    }

    $(document).ready(function() {
        const token = localStorage.getItem('jwt');
        var editPaymentId = null;
        // Extract client_id from the URL
        var urlParams = new URLSearchParams(window.location.search);
        var clientID = urlParams.get('cid');

        // Function to fetch and display payments
        function fetchPayments(clientID) {
          console.log(clientID)
            $.ajax({
                url: '/api/web/payments/client/' + clientID,
                method: 'GET',
                headers: {
                  'Authorization': token
                },
                success: function(data) {
                    var tbody = $('#paymentsTable tbody');
                    tbody.empty(); // Clear previous data
                    data.forEach(function(payment) {
                      var switchChecked = payment.IsPaid ? 'checked' : '';
                        var row = '<tr>' +
                            '<td>' + payment.ID + '</td>' +
                            '<td>' + payment.InvoiceAmount + '</td>' +
                            '<td>' + formatDate(payment.InvoiceDate) + '</td>' +
                            '<td>' + payment.InvoiceNumber + '</td>' +
                            '<td>' + payment.InvoiceFor + '</td>' +
                            '<td><input type="checkbox" class="form-check-input isPaidSwitch" data-id="' + payment.ID + '" ' + switchChecked + '></td>' +
                            '<td>' + '<a href='+ payment.InvoiceLink +'> Invoices </a>' + '</td>' +
                            '<td><button type="button" class="btn btn-warning btn-sm" onclick="editClient(' + payment.ID + ')">Edit</button></td>' +
                            '<td><button type="button" class="btn btn-warning btn-sm" onclick="deleteClient(' + payment.ID + ')">Delete</button></td>' +
                            '</tr>';
                        tbody.append(row);
                    });

                    $('.isPaidSwitch').change(function() {
                      var paymentID = $(this).data('id');
                      var isPaid = $(this).is(':checked');
                      console.log('clicked');
                      $.ajax({
                          url: '/api/web/payments/' + paymentID,
                          method: 'PUT',
                          headers: {
                            'Authorization': token
                          },
                          contentType: 'application/json',
                          data: JSON.stringify({ ispaid: isPaid }),
                          success: function(response) {
                              console.log(isPaid)
                              console.log('Payment status updated successfully');
                          },
                          error: function(error) {
                              console.error('Error updating payment status:', error);
                          }
                      });
                  });


                },
                error: function(error) {
                    console.error('Error fetching payments:', error);
                }
            });
        }

        // Function to send form data to the server
        $('#paymentCreateForm').on('submit', function() {
          event.preventDefault(); // Prevent default form submission
            var copycid = clientID
            var data = {
                invoicedate: new Date($('#inputInvoiceDate').val()).toISOString(),
                sentdate: new Date($('#inputSentDate').val()).toISOString(),
                invoicenumber: $('#inputInvoiceNumber').val(),
                invoiceamount: parseFloat($('#inputInvoiceAmount').val()),
                invoicefor: $('#inputInvoiceFor').val(),
                invoicelink: $('#inputInvoiceLink').val(),
                ispaid: $('#inputIsPaid').val() === "true",
                clientid: parseInt(clientID)
            };

            var url = editPaymentId ? '/api/web/payments/' + editPaymentId : '/api/web/payments';
            var method = editPaymentId ? 'PUT' : 'POST';

            $.ajax({
                url: url,
                method: method,
                headers: {
                  'Authorization': token
                },
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function(response) {
                    // Handle success, maybe reload the table or close the modal
                    $('#basicModal').modal('hide');
                    console.log("success")
                    location.reload()
                    // fetchPayments(copycid);
                },
                error: function(error) {
                    console.error('Error saving payment:', error);
                }
            });
        });

        // Function to populate the modal with client data for editing
        window.editClient = function(paymentID) {
            $.ajax({
                url: '/api/web/payments/' + paymentID,
                method: 'GET',
                headers: {
                  'Authorization': token
                },
                success: function(data) {
                  let dateObj = new Date(data.InvoiceDate);
                  let day = String(dateObj.getDate()).padStart(2, '0');
                  let month = String(dateObj.getMonth() + 1).padStart(2, '0'); // Months are zero-based
                  let year = dateObj.getFullYear();
                  let formattedDate = `${year}-${month}-${day}`;
                  $('#inputInvoiceDate').val(formattedDate);

                  let ssentdateObj = new Date(data.SentDate);
                  let sday = String(ssentdateObj.getDate()).padStart(2, '0');
                  let smonth = String(ssentdateObj.getMonth() + 1).padStart(2, '0'); // Months are zero-based
                  let syear = ssentdateObj.getFullYear();
                  let sformattedDate = `${syear}-${smonth}-${sday}`;
                  $('#inputSentDate').val(sformattedDate);

                    $('#inputInvoiceNumber').val(data.InvoiceNumber);
                    $('#inputInvoiceAmount').val(data.InvoiceAmount);
                    $('#inputInvoiceFor').val(data.InvoiceFor);
                    $('#inputInvoiceLink').val(data.InvoiceLink);
                    $('#inputIsPaid').val(data.IsPaid);
                    $('#basicModal').modal('show');
                    editPaymentId = paymentID;
                },
                error: function(error) {
                    console.error('Error fetching client data:', error);
                }
            });
        }

        window.deleteClient = function(paymentID) {
          $.ajax({
              url: '/api/web/payments/' + paymentID,
              method: 'DELETE',
              headers: {
                'Authorization': token
              },
              success: function(data) {
                console.log("deleted Client Successfully")
                fetchPayments(clientID);
              },
              error: function(error) {
                  console.error('Error fetching client data:', error);
              }
          });
      }

        // Fetch payments on page load
        console.log(clientID)
        fetchPayments(clientID);
    });
</script>
</body>
</html>
